###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=YOUR_APP_SECRET_HERE
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="sqlite:///%kernel.project_dir%/var/app.db"
###< doctrine/doctrine-bundle ###
